.popup{
   position: relative;
   display:inline-block;
}
.popup-content{
    position: absolute;
    background-color:red;
    min-width: 160px;
    z-index: 1;
    border: 2px solid #ccc;
    text-align: center;
    font-size: 17px;
    margin: 0px 0px 0px -50px;
    transform: all ease 0.3s
}
.desc{
    padding: 0px 0px 5px 0px;
}
.popup:hover .popup-content{
    
    background-color: yellow;
}